/* global  start here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global  end here */

/* notification bar start here */
.notification-bar{
    max-width: 1440px;
    margin: auto;
    padding: 20px 0px;
    /* height: 40px; */
    background-color:#377DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.notification-bar  .fa-xmark {
    color: white;
    position: absolute;
    right: 1rem;
}
.notification-bar-content{
    width: 385px;
    height: 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;

}
.textandicon{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.textandicon p{
    font-size: 14px;
    font-weight: 600;

}

.notification-bar-content a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    
}
.notification-bar-content .btn-shp{
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid white;

}

/* notification bar ends here */

/* navigation bar start here  */
.navigation-bar{
    max-width: 1440px;
    height: 60px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    padding: 0px 160px;
    margin: auto;
    justify-content: space-between;
    color: black;


}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;

}
.logo i{
    display: none;
}
.logo a{
    font-size: 40px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    
}
.navigation-pannel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
}
.navigation-pannel li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.navigation-pannel li a:hover{
    font-size: 18px;
    color: #377DFF;
   
}
.navigation-pannel li .angle-down{
    display: flex;
    align-items: center;
    gap: 4px;

}
.navigation-icons{
    display: flex;
    gap: 8px;
}

.navigation-icons .icon1{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navigation-icons .icon2{
    display: flex;
    align-items: center;
    gap: 4px;
}
.navigation-icons .icon2 span{
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: white;
}

/* navigation bar ends here  */

/* hero starts here */
.hero{
    max-width : 1440px ;
    margin: auto;
    height: 820px;
    display: flex;
    align-items: center;
    border: 1px solid ;
}
.hero .hero-img{
    max-width: 720px;
    height: 820px;
}
.hero .hero-img img{
    width: 100%;
    height: 100%;

}
.hero .hero-content{
    width: 720px;
    height: 820px;
    background-color: #171D28;
    
}
.hero .hero-content{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    
    text-align: left;
    padding: 12px 56px;
}
.hero .hero-content .content-container{
    width: 497px;
    height: 224px;
    top: 245px;
    left: 63px;
    /* border: 1px solid white ; */
}
.hero .hero-content .content-container h1{
   font-size: 72px;
   font-weight: 500;
   color: white;
}
.hero .hero-content .content-container p{
   font-size: 20px;
   font-weight: 400;
   color: white;
}
.hero-content button{
    width: 234px;
    height: 56px;
    background-color: #377DFF;
    color: #171D28;
    border-radius: 5px;
    
    
}
.hero-content button:hover{
    font-size: 1.4rem;
}
/* hero ends here */

/* brand section start here */
.brand{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    max-width: 1440px;
    padding-top: 40px;
}
.brand-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 160px;
    gap: 1rem;
    /* overflow: hidden; */
}
.arrows{
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

/* brand section end here */

/* slider-section start here  */
.slider{
    width: 1440px;
    height: 647px;
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 48px 160px;
    flex-direction: column;
    gap: 48px;
    padding-left: 160px;
}
.slider .slider-tittle{
    display: flex;
    align-items: center;
    width: 1120px;
    border: 1px solid ;
    justify-content: space-between;
    gap: 10px;
}
.slider .slider-tittle h2{
    font-size: 40px;
    font-weight: 500;
}
.slider .slider-tittle .slider-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px ;
    
}
.slider .slider-container{
    width: 1280px;
    display: flex;
    align-items: center;
    gap: 12px;
    overflow-x: scroll;
    overflow-y: scroll;

}
.slider .slider-card{
    width: 262px;
    height: 459px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    border: 1px solid;
    position: relative;
}
.slider .slider-card .img-container{
    width  : 262px ;
    height : 349px ;
    border : 1px solid ;

}
.slider .slider-container .slider-card .heart-container {
    background-color : white ;
    color : black ;
    position : absolute ;
    top : 1rem ;
    right: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    justify-content: center;

    
}
.slider .slider-card .img-container img{
    width: 100%;
    height: 100%;
    border: 1px solid;

}
.slider .slider-card .tags .text{
    background-color: white ;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    color: black;
    position: absolute;
    top: 1rem;
    width: 50px;
    height: 24px;
    left: 1rem;
}
.slider-card a{
    width: 230px;
    background-color: #171D28;
    color: white;
    padding: 8px 24px;
    text-decoration: none;
    position: absolute;
    top: 280px;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-card a:hover{
    font-size: 1.3rem;
    background-color: #171d2881;
}

.slider-content{
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: flex-start;
}
.slider-content .slider-star i{
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.slider-container{

}


/* slider-section ends here  */

/* scroll-bar start here */
::-webkit-scrollbar{
    height: 5px;
    width: 3px;
}
::-webkit-scrollbar-thumb{
    background-color: #377DFF;
    border-radius: 5px;

}
::-webkit-scrollbar-track{
    background-color: transparent;
}
/* scroll-bar ends here */

/* media queries start here */

@media screen and (max-width : 450px) {
    /* notification bar start here */
    .notification-bar{
        min-width: 450px;


    }
    .notification-bar .notification-bar-content .btn-shp{
        display: none;
    }
    .textandicon p{
        font-size: 12px;
        font-weight: 600;
    
    }
    /* notification bar ends here */

    /* navigation-bar start here */
    .navigation-bar{
        min-width: 450px;
        color: black;
        padding: 16px 32px;
    
    
    }
    .logo{
        display: flex;
        align-items: center;
        gap: 4px;
        
    
    }
    .logo i{
        display: block;
        font-size: 16px;
    }
    .logo a{
        font-size: 16px;
        font-weight: 600;
        
    }
    .navigation-pannel{
        display: none;
    }
    
    .navigation-icons .icon1{
        display: none;
        
    }
    .navigation-icons .icon2{
        display: flex;
        align-items: center;
        gap: 16px;
        width: 50px;
        height: 28px;
    }
   

    /* navigation-bar end here */

    /* hero section start here */
    .hero{
        min-width :450px;
        min-height: 692px;
        flex-direction: column;
        
        /* border: 1px solid ; */
    }
    .hero .hero-img{
        min-width:450px ;
        
        
    }
    .hero .hero-img img{
        width: 100%;
        height: 100%;
    
    }
    .hero .hero-content{
        width: 450px;
        
        background-color: #171D28;
       
        
    }
    .hero .hero-content .content-container{
        width: 311px;
        height: 156px;
        
        
        
    }
    .hero .hero-content .content-container h1{
        
        font-family: Poppins;
        font-size: 50px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -0.4000000059604645px;
        text-align: left;
        
       
    }
    .hero .hero-content .content-container p{
       font-size: 16px;
       font-weight: 400;
       color: white;
    }
    .hero-content button{
        width: 210px;
        height: 56px;
        background-color: #377DFF;
        color: #171D28;
        border-radius: 5px;
        
        
    }
    .hero-content button:hover{
        font-size: 1.4rem;
    }

    /* hero section ends here */

    /* brand-section start here */
    .brand{  
        min-width: 450px;
        gap: 7px;
    }
    .brand .brand-logo{
        padding: 32px 24px;
        gap: 1rem;
        
    }
    .brand .brand-logo .none{
        display: none;
    }
    .arrows{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    
    }
    /* brand-section end here */
    /* product-carousel start here */
    .product-carousel{
        min-width: 450px;
    }
    /* product-carousel end here */
    
}
/* media queries ends here */